<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Saisie Immat</title>
</head>
<body>
<!-- formulaire  -->
<form action="#" th:action="@{/vehicule/verifImmat}" th:object="${vehicule}" method="post">
<!-- th:action dit qu'une fois validé on va se rediriger vers /etudiant/add  -->
<!-- le etudiant est injecté par th:object, il relie le etudiant au formulaire -->
    <label for="nom">Saisir l'immatriculation</label>
    <input type="text" th:field="*{immat}" id="immat" placeholder="123PE29">
<!--     th:field: va récuperer la valeur nom de l'objet client /en entree il va mettre la valuer par défaut dans le value de  l'input ( donc l'affiche dans le formulaire) mais va aussi en sortie faire un setnom sur l'objet ( faire du binbing) -->
    <span th:if="${#fields.hasErrors('immat')}" th:errors="*{immat}"></span>
<!--     s'il y a des erreurs sur le nom alors on va afficher le message d'erreur défini dans le bo. le ('nom')correspond au nom de l'id de la ligne dessus, le *{nom} correspond à celui recuperer par le th:field -->
   
   
    <input type="submit" value="Valider">   
</form>
</body>
</html>